body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.wrapper{
    width: 100%;
    max-width: 1580px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

h1.logo{
    background-image: url(../images/logo-white.png); 
    background-repeat: no-repeat; 
    width: 250px;
    text-indent: -10000px;
    float: left;
    cursor: pointer;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    background: #1c2427;
    margin: 0 0 0 0px;
    padding: 0;
    z-index: 1;
}

header nav{
    float: right;
    margin-right: 30px;
    padding-right: 30px;
}

header nav h2{
    text-indent: -10000px;
    height: 0;
    margin: 0;
}

header nav li{
    float: left;
    list-style-type: none;
    margin: 10px 20px;
}

header nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 5px;
}

header nav li a:hover{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
    transition: 0.3s;
}

nav:after{
    content: "";
    clear: both;
    display: block;
}

header:after{
    content: "";
    clear: both;
    display: block;
    background: #1c2427;
    width: 100%;
}

#banner{
    overflow: hidden;
}

#banner picture{
    margin-top: -10s0px;
    width: 100%;
    text-align: left;
    overflow: hidden;
}

picture img{
    width: 100%;
}

#banner #name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    position: absolute;
    left: 70%;
    top: 25%;
}

#name{
    text-align: left;
}

#name>a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 6px;
    transition: all .5s;
    cursor: pointer;
}

#name a:hover{
    background-color: #ffffff;
    color: #1c2427;
    font-weight: bold;
}

#name h5{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin-bottom: 0px;
}

#name h1{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 54px;
    text-transform: uppercase;
    margin: 0px 0 30px 0;
}


.icon{
    overflow: hidden;
    cursor: pointer;
    width: 65px;
    height: 65px;
    position: relative;
    text-align: center;
    margin: 0 15px;
    padding: 0;
    font-size: 18pt;
    float: left;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
}

.icon:hover{
    color: rgba(255, 255, 255, 1);
}

.icon-wrap:after{
    content: "";
    clear: both;
    display: block;
}

.icon-wrap{
    margin-bottom: 20px;
    margin-top: 20px;
}

#about{
    margin: 150px auto;
    margin-bottom: 0;
}

#about:after{
    content: "";
    clear: both;
    display: block;
}

#about-me{
    float: left;
    width: 40%;
    margin: 0 2%;
    padding-left: 5%;
    padding-right: 0;
    height: 20%;
    vertical-align: middle;
}

.subtitle{
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #1c2427;
    height: 100%;
    vertical-align: middle;
}

#about-me img{
    border-radius: 100%;
    float: left;
    width: 30%;
    margin-right: 50px;
    margin-top: 10px;
}

#about-me p{
    float: left;
    width: 60%;
    font-size: 20px;
    font-weight: 400;
    vertical-align: middle;
    margin-top: 5%;
    line-height: 35px;
}

#skills{
    float: left;
    width:44%;
    margin: 0 2%;
    padding: 0 1%;
    border: 1px solid white;
    height: 20%;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 10px rgba(0, 0, 0, 0.072),
  0 12.5px 10px rgba(0, 0, 0, 0.086);
}

#skills h4{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#skills ul{
    padding: 0;
}

#skills li{
    list-style-type: none;
    display: block;
    margin: 15px 0;
}

#skills li:after{
    content: "";
    clear: both;
    display: block;
}

.bar{
    float: left;
    width: 85%;
    margin-right: 10px;
}

.level{
    float: left;
    width: 10%;
}

.tag{
    float: left;
    background-color: #ffffff;
    padding-right: 10px;
    text-align: center;
    width: 90px;
    color: #525455;
    font-weight: 600;
}

.progress{
    float: left;
    background-image: linear-gradient(90deg,#a367e7,#6382e6);
    width: 80%;
    text-align: center;
    border: 2px solid white;
    border-radius: 40px;
    color: #ffffff;
}

#portfolio-nav{
    height:200px;
}

#portfolio{
    margin: 0px 2% 0px 2%;
    padding: 0 5%;
}

.center{
    text-align: center;
}

.gallery{
    text-align: center;
    width: 100%;
}

.gallery:after{
    content: "";
    clear: both;
    display: block;
    text-align: center;
}

.gallery ul{
    padding: 0;
    margin: 0 auto;
}

.gallery li{
    float: left;
    width: 29.3%;
    margin: 2%;
    list-style-type: none;
    text-align: center;
}

.gallery li:hover{
    opacity: 0.3;
    transition: 0.5s; 
    -webkit-transition: 0.5s;
}

.gallery li:after{
    content: "";
    clear: both;
    display: block;
}

.gallery li img{
    width: 100%;
    position: relative;
}

#experience-nav{
    height:200px;
}

#experience{
    margin: 0px 2% 0px 2%;
    padding: 0 5%;
}

.button:hover{
    opacity: 0.8;
    transition: 0.5s; 
    -webkit-transition: 0.5s;
}

.popup{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup-inner{
    width: 354px;
    height: 65%;
    margin: 15% auto;
    background-color: #ffffff;
}

.popup-content{
    margin: 1% 20px;
}

.popup-title{
    position: relative;
    top: -60px;
}

.popup-text{
    position: relative;
    top: -60px;
    text-align: justify;
}

.close{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    text-align: end;
    position: relative;
    top: -410px;
    right: -50px;
}